/* ID selector to sets <body> background to #00b3e6 (e.g. <body value='background-color: #00b3e6;></body> ) 
 */
body {
  background: #00b3e6;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div { 
  width: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px;

  /* <div id="width: 700px";
   id="background-color: white";
   id="margin: auto";
   id="font-family: Helvetica Neue";
   id="padding: 30px";></div>
   */
}

/* ID selector to select the element with id 'main-header' */
#main-header { font-size: 22px;
  /* <h1 id="main-header: font-size: 22px">; */
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions { font-style: italic ;
  /*  */
}
